
body, html {
  min-height: 100vh;
  height: 100vh;
  background-color: aqua;
}
/*
.app {
  height: 100%;
  width: 100%;
  border: 1px solid black;
} */

:root {
  --search-height: 200px;
  --search-width: 400px;
}

#search {
  height: var(--search-height);
  margin-top: calc(var(--search-height)/-2);
  width: var(--search-width);
  margin-left: calc(var(--search-width)/-2);
  background-color: grey;
  top: 50%;
  left: 50%;
  position: fixed;
}


.center-text{
  text-align: center;
}
.flex-align-center {
  align-items: center;
}
.flex-center{
  justify-content: center;
}
.flex-parent{
  display: flex;
}
.flex-wrap-no{
  flex-wrap: nowrap;
}