body,
html {
  min-height: 100%;
  height: 100%;
  background-color: teal;
  margin: 0;
  padding: 0;
}
:root {
  --search-height: 200px;
  --search-width: 400px;
  --popup-height: 1000px;
  --popup-width: 1000px;
}
.flip-card {
  background-color: transparent;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 200px;
  height: 300px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  display: flex;
}

#main {
  height: 100%;
  width: 100%;
}
.app {
  height: 90%;
  width: 100%;
  display: flex;
}
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lower {
  height: 100%;
  display: flex;
}
.movie-list {
  position: relative;
  margin: auto;
  margin-top: 10px;
  max-width: 1200px;
  width: 60%;
  min-height: 1800px;
  background-color: grey;
  z-index: 0;
}
.movie {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 15px;
  background-color: rgb(221, 230, 241);
  border-radius: 5px;
}
.movie-poster {
  width: 200px;
  height: 300px;
}
.movie-popup {
  left: 50%;
  margin-left: -25%;
  width: 70%;
  height: 1000px;
  max-width: 1000px;
  position: absolute;
  background-color: rgb(80, 183, 224);
  z-index: 9;
}
.nav-bar {
  width: 100%;
  background-color: rgb(92, 180, 221);
  vertical-align: top;
  margin-bottom: 5px;
  padding: 7px 0 5px 0;
}
.nav-inner {
  width: 50%;
  margin: auto;
}
.my-list-button {
  background-color: green;
  height: 100%;
  padding: 5px 8px 5px 8px;
  border-radius: 5px;
}
.my-list-button:hover {
  cursor: pointer;
}
.my-list-button:active {
  background-color: rgb(80, 183, 224);
}
.poster {
}
.posters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.save-button {
  height: auto;
}
#search {
  height: var(--search-height);
  margin-top: calc(var(--search-height) / -2);
  width: var(--search-width);
  margin-left: calc(var(--search-width) / -2);
  background-color: grey;
  top: 50%;
  left: 50%;
  position: fixed;
}
.auto {
  width: auto;
}
.center-text {
  text-align: center;
}
.display-false {
  display: none;
}
.flex-align-center {
  align-items: center;
}
.flex-center {
  justify-content: center;
}
.flex-column {
  flex-direction: column;
}
.flex-justify-start {
  justify-content: start;
}
.flex-parent {
  display: flex;
}
.flex-row {
  flex-direction: row;
}
.flex-wrap-no {
  flex-wrap: nowrap;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.height-100 {
  height: 100%;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.margin-left-15px {
  margin-left: 15px;
}
.margin-bottom-15px {
  margin-bottom: 15px;
}
.padding {
  padding-top: 45%;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2 {
  position: relative;
}
.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: '';
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}

.movie-shadow {
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
}
