.summary {
  position: relative;
  color: white;
  display: flex;
  height: 90%;
  width: 90%;
  margin: 20px auto 0px auto;
  padding-left: 5%;
}


.summaryImgSection {
  height: 100%;
  background-color: none;
  display: flex;
  align-items: center;
}

.summaryImg {
  margin: 0 auto;
  align-self: flex-start;
}

.summaryBody {
  padding-left: 5%;
  flex-grow: 1;
  height: 100%;
  background-color: none;
}
.headingDate{
  color: grey;
  font-weight: 100;
}
@media only screen and (max-width: 600px) {
  .summary {
    flex-direction: column;
  }
}
